<!DOCTYPE HTML>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1024">
    <title>Automatic Test Results</title>
</head>

<body>
    <h1>Automated Sync Server Results</h1>
    <table>
        <tbody>
            <tr>
                <td>Last Run
                </td><td>{{last_run}}
                </td>
            </tr>
            <tr>
                <td>Result
                </td><td>Who Knows
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>

